.line-secondary {
  opacity: 0.7;
  margin: 0.25em 0;
}

.list-tags li {
  display: inline-block;
  font-size: 0.9em;
  padding: 0 0.5em;
  border-right: 1px solid gray;
}

.list-tags li:last-child {
  border-right: none;
}

.list-tags li:first-child {
  padding-left: 0;
}
